doctype html
html(lang="ru")
    head
        title Material design color palette demo
        meta(charset="UTF-8")
        meta(name='description', content="Material design color palette demo for developers and designers.")
        meta(name='keywords', content="Material, design, color, palette, demo, mdl")
        meta(property="og:type", content="website")
        meta(property="og:title", content="Material design color palette demo")
        meta(property="og:site_name", content="Material design color palette demo")
        meta(property="og:url", content="//material-design-colors.github.io")
        meta(property="og:description", content="Material design color palette demo for developers and designers.")
        meta(property="og:image", content="build/img/social.png")
        meta(property="og:image:type", content="image/png")
        link(rel='author', href='https://github.com/littleguga')
        link(rel='stylesheet', href='build/css/style.min.css')
        link(rel='stylesheet', href='build/material/material.min.css')
        script(type='text/javascript' src='build/js/clipboard.min.js')
        script(type='text/javascript' src='build/js/js.min.js')
        script(type='text/javascript' src='build/material/material.min.js')
        link(rel="shortcut icon", href="favicon.ico")
        link(rel="icon", sizes="16x16 32x32", href="favicon.ico")
        link(rel="apple-touch-icon-precomposed", href="build/img/152.png")
    body
        div.mdl-layout.mdl-js-layout
            header.mdl-layout__header.mdl-color--blue-grey
                div.mdl-layout__header-row
                    span.mdl-layout-title Material colors demo
                    div.mdl-layout-spacer
                    nav.mdl-navigation.mdl-layout--large-screen-only
                        span.control-switch
                            label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for='switch-display')
                                input#switch-display.mdl-switch__input(type='checkbox')
                                span.mdl-switch__label Vertical align
                        span.control-switch
                            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="switch-copy-class")
                                input#switch-copy-class.mdl-radio__button(type="radio", name="copy", data-option="class" checked=true)
                                span.mdl-radio__label ClassName
                        span.control-switch
                            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="switch-copy-hex")
                                input#switch-copy-hex.mdl-radio__button(type="radio", name="copy", data-option="hex")
                                span.mdl-radio__label Color hex
                        span.control-switch
                            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for="switch-copy-rgb")
                                input#switch-copy-rgb.mdl-radio__button(type="radio", name="copy", data-option="rgb")
                                span.mdl-radio__label RGB
                        a.mdl-navigation__link(href='https://www.google.com/design/spec/material-design/introduction.html#introduction-goals') Material Guide
                        a.mdl-navigation__link(href='https://getmdl.io') Material Design Lite
                        a.mdl-navigation__link(href='https://github.com/material-design-colors/material-design-colors.github.io') Github
            div.mdl-layout__content.flex-center
                div#container.container
        div#info.info.invisible Just click on color block to copy it to the clipboard